*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    height: 100vh;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #656464;
    font-size: 1rem;
    font-size: bold;
}
a:hover{
    color:#77709ba7;
}
header{
    position: relative;
    padding: 0 2rem;

}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .links{
    display: flex;
    gap: 2rem;
}
#icon{
    width: 30px;
    cursor: pointer;
}
:root{
    --primary-color:white;
    --secondar-color:black;
}
.dark_theme{
    --primary-color:black;
    --secondary-color:white;
}
